@charset "UTF-8" ;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
    font-size: 1em;
    overflow-x: hidden;
}
header{
    width: 100vw;
    background-color: grey;
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
h1{
    flex: none;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.404);
}
nav{
    display: flex;
    flex-flow:row wrap ;
    justify-content: flex-end;
}
nav>a{
    background-color: black;
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}
a:hover{
    background-color: white;
    color: black;
    transition: background-color .8s;
}
main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.336);
}
@media screen and (max-width: 694px ) {
    header{
        flex-flow: column wrap;
    }
    h1{
       align-self: center;
       text-align: center;
       
    }
    nav{
        flex-flow: column wrap;
        flex:auto ;
    }
    a{
        width: 90vw;
    }
}