@charset "UTF-8" ;

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --cor1 : #012E40;
    --cor2 : #D9B341 ;
    --cor3 : #BFB8AA;
    --cor4 : #A6691F;
    --cor5 : #732C02;

}
html , body{
   background-color: var(--cor1);
   width: 98vw;
   height: 98vh;
   overflow-y: hidden;
}
main{
    width: 320px;
    border-radius: 15px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.534) ;
    margin: auto;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
#imagem{
    width: 320px;
    height: 30vh;
    background: url('../imagens/pexels-willian-santos-44398111-38545175.webp') no-repeat bottom left ;
    background-size: cover;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius:15px ;
}
h1{
    text-align: center;
    padding: 20px;
}
.descricao{
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

}
span{
    color: white;
}
#mail{
    color: var(--cor2);
}
.email{
    text-align: center;
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    margin: 0px 20px ;
}
.senha{
    text-align: center;
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    margin: 0px 20px ;
    margin-top: 10px;
}
.envio{
    text-align: center;
    margin: 10px;
    
}
.input1{
    color: white;
    border-radius: 10px;
}
.senha-esquecida{
    text-align: center;
    margin-bottom: 10px;  
    background-color: white;
}
.input2{
    background-color: white;
    color: var(--cor2 );
    border-radius: 10px;

}
input{
    width: 200px;
    height: 35px;
    background-color: var(--cor2);
    margin: auto;   
}
@media screen and (min-width: 600px) and (max-width: 1024px)  {
    html , body{
        
        width: 98vw;
        height: 98vh;
        background-image: linear-gradient( var(--cor1) , var(--cor4));
    }
    main{
        width: 80vw;
        height: 50vh;
        
    }
    #imagem{
        margin-left: 0px;
        width: 200px;
        height: 50vh;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
    }
    article{
        display: inline;
        width: 80vw;
        height: 50vh;
        
    }
    h1{
        display: inline;
    }
}

