@charset "UTF-8";

/*Versão Mobile First*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
html{
    height: 100vh;
}
body{
    background: black url('../imagens/back-phone.jpg') no-repeat center center;
    background-size: cover;
}
main{
    background: rgba(255, 255, 255, 0.603);
    width: 80vw;
    margin: auto;
    margin-top:10px ;
    border-radius: 10px;
    padding: 10px;
}
h1{
    text-align: center;
    font-size: 32px;
}
img{
    display: block;
    margin: auto;
}
#phone , #tablet , #impressora , #pc , #tv {
    display: none;
}
#phone{
    display: block;
}

/*Meus breakpoints 

Telas pequenas :160px - 319px
Celular q :320px até 479px
Celular g:480px até 639px
Tablet q / Celulares em landspace:640px 767px
Tablet:768px - 1023px
Laptops / Desktops:1023px - 1279
Desktop:1280px ou mais 
Monitores Ultrawide:1440px 1920px
Grandes Telas:1920px ou mais
*/

@media print{
    body{
        font-family: 'Courier New', Courier, monospace;
    }
    main{
        width: 93vw;
        border-radius: 2px solid black;
    }
    main::after{
        content: 'Essa impressão foi feito atravês de colaboradores do www.cursoemvideo.com'
        ;
        text-decoration: overline;
    }
    #impressora{display: block;}
    #phone{display: none;}
    h1{
        text-shadow: none;
        color: black;
    }

}
@media screen and (min-width: 768px) and (max-width: 1023px) /*TABLETS*/ {
    body{
        background: url('../imagens/back-tablet.jpg');

    }
    #tablet{
        display: block;
    }
    #phone{display: none;}
}
@media screen and (min-width: 1024px) and (max-width: 1280px) /*Pcs no geral*/{
    body{
        background-image: url('../imagens/back-pc.jpg');
    }
    #pc{display: block;}
    #phone{display: none;}
}
@media screen and (min-width: 1281px) {
    body{
        background-image: url('../imagens/back-tv.jpg');
    }
    #tv{display: block;}
    #phone{display: none}
    
}